.header {
    padding: 15px 20px;
     display: flex;
     justify-content: space-between;
     position: sticky;
     background-color: aliceblue;
     z-index: 100;
     top: 0;
     box-shadow: black;
}
.header__left {
    display: flex;
    justify-content: space-between;
}

.header__input {
  display: flex;
  align-items: center;
  background-color:gainsboro;
  padding: 10px;
  margin-left: 10px;
  border-radius: 90px;
}

.header__left > img {
    height: 40px;
}

.header__input > input {
    border: none;
    background-color: smokewhite;
    outline-width: 0;
    cursor: pointer;
}


.header__center {
    display: flex;
    flex: 1;
    justify-content: center;
}

.header__option > .MuiSvgIcon-root {
    color: gray;
}

.header__option:hover > .MuiSvgIcon-root {
    color: blue;
   
}

.header__option--active > .MuiSvgIcon-root {
    color: blue;
}

.header__option--active {
    border-bottom: blue 4px solid;
}

.header__option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.header__option:hover {
    background-color: gainsboro;
    border-radius: 100px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header__info {
    display: flex;
    align-items: center;
}

.header__info > h4 {
   margin-left: 10px;
}

.header__right {
    display: flex;
}